.git
.github
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
.env
.env.*
!.env.example
docker-compose*.yml
Dockerfile
README.md
tests
phpunit.xml
phpstan.neon
pint.json
